.header {
    text-align: center;
}

.flashLink {
    padding: 10px;
    margin: 100px;
    text-align: center;
    border: 2px solid black;
}

.loader {
    text-align: center;
}

.imageContainer {
    display: inline-block;
}

.flashImage {
    height: 450px;
    width: 450px;
    border: 2px solid white;
}